[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=AspellGUI
Comment=A simple GUI for ASpell
Terminal=false
Type=Application
Categories=Utility;
Name=AspellGUI
